* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  padding: 10px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5ba13;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  padding: 10px;
}

.addTask {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.addTask > input[type="text"] {
  width: 90%;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  background: none;
  padding: 10px;
  font-size: 22px;
  outline: none;
}

.addTask button {
  margin: 0 10px;
  background-color: #222;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.notCompleted,
.Completed {
  margin: 5px 0;
  padding: 20px;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

ol {
  list-style: none;
  counter-reset: my-counter;
}

ol li {
  width: 100%;
  padding: 18px;
  margin: 5px 0;
  background-color: #e25656bb;
  font-size: 22px;
  counter-increment: my-counter;
}

ol.Completed li {
  background-color: #16cb5b;
}

ol li::before {
  content: counter(my-counter);
  background-color: #000;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  margin-right: 0.5rem;
}

li button {
  float: right;
  padding: 5px;
  font-size: 28px;
  line-height: 28px;
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

li button:hover {
  transform: scale(1.2);
}

.create {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 20px;
}

.create a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 800px) {
  .create {
  display: none;
  }
}

@media (max-width: 576px) {
  .container {
  margin: 20px auto;
  padding: 5px;
  }
  
  header {
  font-size: 30px;
  padding: 5px;
  }
  
  .addTask {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .addTask > input[type="text"]{
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  }
  
  .notCompleted, .Completed {
  padding: 10px;
  }
  
  h3 {
  font-size: 24px;
  }
  
  ol li {
  padding: 10px;
  font-size: 18px;
  }
  
  li button {
  font-size: 24px;
  line-height: 24px;
  margin-right: 5px;
  }
  
  ol li::before {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 16px;
  line-height: 1.5rem;
  margin-right: 0.3rem;
  }
}
